<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PayPal Rest API Samples</title>
<style>
.imagelink {
	padding: 5px 0px 5px 28px;
}

.execute {
	background: url('images/play_button.png') no-repeat left top;
}

.source {
	background: url('images/edt-format-source-button.png') no-repeat left
		top;
}
</style>
</head>
<body>
	<center>
		<h3>PayPal REST API Samples</h3>
	</center>
	<br />
	<br />
	<table cellspacing="5" width="85%">
		<tbody>
			<tr valign="top">
				<td>Payment with a credit card</td>
				<td></td>
				<td width="30%"><a href="paymentwithcreditcard"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td width="30%"><a
					href="source/PaymentWithCreditCardServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Payment with a PayPal Account</td>

				<td></td>
				<td><a href="
					paymentwithpaypal"
					class="execute imagelink">Execute</a></td>

				<td></td>
				<td><a href="source/PaymentWithPayPalServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Get Payment Details</td>
				<td></td>
				<td><a href="
					getpayment" class="execute imagelink">Execute</a></td>

				<td></td>
				<td><a href="source/GetPaymentServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Get Payment History</td>
				<td></td>
				<td><a href="
					getpaymenthistory"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/GetPaymentHistoryServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Get Sale Details</td>
				<td></td>
				<td><a href="
					getsale" class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/GetSaleServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Refund a Payment</td>
				<td></td>
				<td><a href="
					salerefund" class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/SaleRefundServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Save a credit card</td>
				<td></td>
				<td><a href="
					createcreditcard" class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/CreateCreditCardServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Get credit card Details</td>
				<td></td>
				<td><a href="
					getcreditcard" class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/GetCreditCardServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Payment with saved credit card</td>
				<td></td>
				<td><a href="
					paymentwithsavedcard"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/PaymentWithSavedCardServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			
			
			<tr>
				<td>Get Authorization</td>
				<td></td>
				<td><a href="
					getauthorizationservlet"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/GetAuthorizationServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Capture Authorization</td>
				<td></td>
				<td><a href="
					authorizationcaptureservlet"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/AuthorizationCaptureServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Void Authorization</td>
				<td></td>
				<td><a href="
					voidauthorizationservlet"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/VoidAuthorizationServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Reuthorization</td>
				<td></td>
				<td><a href="
					reauthorization"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/ReauthorizationServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Get Capture</td>
				<td></td>
				<td><a href="
					getcaptureservlet"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/GetCaptureServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
			<tr>
				<td>Refund Capture</td>
				<td></td>
				<td><a href="
					refundcaptureservlet"
					class="execute imagelink">Execute</a></td>
				<td></td>
				<td><a href="source/RefundCaptureServlet.html"
					class="source imagelink">Source</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>