<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>OAuth2TokenGenerator</display-name>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>GetAuthorizationServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.GetAuthorizationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthorizationCaptureServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.AuthorizationCaptureServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VoidAuthorizationServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.VoidAuthorizationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCaptureServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.GetCaptureServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefundCaptureServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.RefundCaptureServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaymentWithCreditCardServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.PaymentWithCreditCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentWithCreditCardServlet</servlet-name>
		<url-pattern>/paymentwithcreditcard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaymentWithPayPalServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.PaymentWithPayPalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentWithPayPalServlet</servlet-name>
		<url-pattern>/paymentwithpaypal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReauthorizationServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.ReauthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReauthorizationServlet</servlet-name>
		<url-pattern>/reauthorization</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaymentWithSavedCardServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.PaymentWithSavedCardServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetAuthorizationServlet</servlet-name>
		<url-pattern>/getauthorizationservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorizationCaptureServlet</servlet-name>
		<url-pattern>/authorizationcaptureservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VoidAuthorizationServlet</servlet-name>
		<url-pattern>/voidauthorizationservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCaptureServlet</servlet-name>
		<url-pattern>/getcaptureservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefundCaptureServlet</servlet-name>
		<url-pattern>/refundcaptureservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentWithSavedCardServlet</servlet-name>
		<url-pattern>/paymentwithsavedcard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetPaymentServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.GetPaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPaymentServlet</servlet-name>
		<url-pattern>/getpayment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetPaymentHistoryServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.GetPaymentHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPaymentHistoryServlet</servlet-name>
		<url-pattern>/getpaymenthistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetSaleServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.GetSaleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSaleServlet</servlet-name>
		<url-pattern>/getsale</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaleRefundServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.SaleRefundServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaleRefundServlet</servlet-name>
		<url-pattern>/salerefund</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateCreditCardServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.CreateCreditCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCreditCardServlet</servlet-name>
		<url-pattern>/createcreditcard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetCreditCardServlet</servlet-name>
		<servlet-class>com.paypal.api.payments.servlet.GetCreditCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCreditCardServlet</servlet-name>
		<url-pattern>/getcreditcard</url-pattern>
	</servlet-mapping>

</web-app>
