<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MerchantSamples</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>DoDirectPaymentServlet</display-name>
		<servlet-name>DoDirectPaymentServlet</servlet-name>
		<servlet-class>com.sample.merchant.DoDirectPaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoDirectPaymentServlet</servlet-name>
		<url-pattern>/DCC/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReportingServlet</display-name>
		<servlet-name>ReportingServlet</servlet-name>
		<servlet-class>com.sample.merchant.ReportingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportingServlet</servlet-name>
		<url-pattern>/Report/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PermissionsMassPayServlet</display-name>
		<servlet-name>PermissionsMassPayServlet</servlet-name>
		<servlet-class>com.sample.merchant.PermissionsMassPayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermissionsMassPayServlet</servlet-name>
		<url-pattern>/PermissionsMassPay</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MassPayServlet</display-name>
		<servlet-name>MassPayServlet</servlet-name>
		<servlet-class>com.sample.merchant.MassPayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MassPayServlet</servlet-name>
		<url-pattern>/MassPay</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SettlementServlet</display-name>
		<servlet-name>SettlementServlet</servlet-name>
		<servlet-class>com.sample.merchant.SettlementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SettlementServlet</servlet-name>
		<url-pattern>/Settlement/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckoutServlet</display-name>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>com.sample.merchant.CheckoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/EC/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RecurringPaymentsServlet</display-name>
		<servlet-name>RecurringPaymentsServlet</servlet-name>
		<servlet-class>com.sample.merchant.RecurringPaymentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecurringPaymentsServlet</servlet-name>
		<url-pattern>/RP/*</url-pattern>
		<url-pattern>/RT/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OnboardingServlet</display-name>
		<servlet-name>OnboardingServlet</servlet-name>
		<servlet-class>com.sample.merchant.OnboardingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OnboardingServlet</servlet-name>
		<url-pattern>/Onboarding/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>RequestPermissions</display-name>
		<servlet-name>RequestPermissions</servlet-name>
		<servlet-class>com.sample.merchant.PermissionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestPermissions</servlet-name>
		<url-pattern>/RequestPermissions</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GenerateAccessToken</display-name>
		<servlet-name>GenerateAccessToken</servlet-name>
		<servlet-class>com.sample.merchant.GenerateAccessTokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateAccessToken</servlet-name>
		<url-pattern>/GenerateAccessToken</url-pattern>
	</servlet-mapping>
    <servlet>
		<description></description>
		<display-name>IPNListenerServlet</display-name>
		<servlet-name>IPNListenerServlet</servlet-name>
		<servlet-class>com.sample.ipn.IPNListenerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IPNListenerServlet</servlet-name>
		<url-pattern>/IPNListener</url-pattern>
	</servlet-mapping>
	
	<!-- UseCase Recurring Payment Servlet Sample  -->
	<servlet>
		<description></description>
		<display-name>RecurringPaymentServlet</display-name>
		<servlet-name>RecurringPaymentServlet</servlet-name>
		<servlet-class>com.sample.usecase.RecurringPaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecurringPaymentServlet</servlet-name>
		<url-pattern>/SetExpressCheckoutForRecurringPayments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecurringPaymentServlet</servlet-name>
		<url-pattern>/RecurringPaymentsUsingPayPal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecurringPaymentServlet</servlet-name>
		<url-pattern>/RecurringPaymentsUsingCreditCard</url-pattern>
	</servlet-mapping>
	
	<!-- UseCase Payment capture Servlet Sample  -->
	<servlet>
		<description></description>
		<display-name>PaymentCaptureServlet</display-name>
		<servlet-name>PaymentCaptureServlet</servlet-name>
		<servlet-class>com.sample.usecase.PaymentCaptureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentCaptureServlet</servlet-name>
		<url-pattern>/AuthorizedPaymentCapture</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentCaptureServlet</servlet-name>
		<url-pattern>/DoExpressCheckout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentCaptureServlet</servlet-name>
		<url-pattern>/SetExpressCheckoutPaymentAuthorization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentCaptureServlet</servlet-name>
		<url-pattern>/DoAuthorizationForOrderPayment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentCaptureServlet</servlet-name>
		<url-pattern>/OrderPaymentCapture</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentCaptureServlet</servlet-name>
		<url-pattern>/SetExpressCheckoutPaymentOrder</url-pattern>
	</servlet-mapping>
	
	<!-- Parallel payment usecase sample -->
	<servlet>
		<description></description>
		<display-name>ParallelPaymentServlet</display-name>
		<servlet-name>ParallelPaymentServlet</servlet-name>
		<servlet-class>com.sample.usecase.ParallelPaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParallelPaymentServlet</servlet-name>
		<url-pattern>/SetExpressCheckoutForParallelPayment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ParallelPaymentServlet</servlet-name>
		<url-pattern>/DoExpressCheckoutForParallelPayment</url-pattern>
	</servlet-mapping>
</web-app>