<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PayPal SDK</title>
</head>
<body>
	<center>
		<font size=3 color=black face=Verdana><b><u>Merchant
					UseCase Samples</u> </b> </font><br /><br />
		<table>
			<tr>
				<td><a href="SetExpressCheckoutForRecurringPayments">RecurringPayments Using PayPal ExpressCheckout</a>
				</td>
			</tr>
			<tr>
				<td><a href="RecurringPaymentsUsingCreditCard">RecurringPayments Using CreditCard</a>
				</td>
			</tr>
			<tr>
				<td><a href="SetExpressCheckoutPaymentAuthorization">SetExpressCheckout Payment Authorization and Capture</a>
				</td>
			</tr>
			<tr>
				<td><a href="SetExpressCheckoutPaymentOrder">SetExpressCheckout Payment Order and Capture</a>
				</td>
			</tr>
			<tr>
				<td><a href="SetExpressCheckoutForParallelPayment">ExpressCheckout Parallel Payment</a>
				</td>
			</tr>
		</table>
	</center>
	<br />
	<br />
	<center>
		<font size=3 color=black face=Verdana><b><u>Merchant API
					Samples</u> </b> </font> <br />	<br />
		<table>
			<tr>
				<td valign="top"><table align="left">
						<tr>
							<th>Recurring Payments</th>
						</tr>
						<tr>
							<td align="left"><a href="RP/CreateRecurringPaymentsProfile">CreateRecurringPaymentsProfile</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a
								href="RP/GetRecurringPaymentsProfileDetails">GetRecurringPaymentsProfileDetails</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a
								href="RP/ManageRecurringPaymentsProfileStatus">ManageRecurringPaymentsProfileStatus</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="RP/UpdateRecurringPaymentsProfile">UpdateRecurringPaymentsProfile</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="RP/BillOutstandingAmount">BillOutstandingAmount</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="RT/SetCustomerBillingAgreement">SetCustomerBillingAgreement</a>
							</td>
						</tr>
						<tr>
							<td align="left"><a href="RT/CreateBillingAgreement">CreateBillingAgreement</a>
							</td>
						</tr>
						<tr>
							<td align="left"><a
								href="RT/GetBillingAgreementCustomerDetails">GetBillingAgreementCustomerDetails</a>
							</td>
						</tr>
						<tr>
							<td align="left"><a href="RT/BillAgreementUpdate">BillAgreementUpdate</a>
							</td>
						</tr>
						<tr>
							<td align="left"><a href="RT/DoReferenceTransaction">DoReferenceTransaction</a>
							</td>
						</tr>

					</table>
				</td>
				<td valign="top"><table align="center">

						<tr>
							<th>Settlements and Refunds</th>
						</tr>
						<tr>
							<td align="left"><a href="Settlement/Refund">Refund</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Settlement/DoAuthorization">DoAuthorization</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Settlement/DoVoid">DoVoid</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Settlement/DoReauthorization">DoReauthorization</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Settlement/DoCapture">DoCapture</a>
							</td>
							<td></td>
						</tr>

						<tr>
							<td align="left"><a href="Settlement/ReverseTransaction">ReverseTransaction</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Settlement/DoNonReferencedCredit">DoNonReferencedCredit</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a
								href="Settlement/ManagePendingTransactionStatus">ManagePendingTransactionStatus</a>
							</td>
							<td></td>
						</tr>
					</table>
				</td>
				<td valign="top"><table align="right">
						<tr>
							<th>Express Checkout</th>
						</tr>

						<tr>
							<td align="left"><a href="EC/SetExpressCheckout">SetExpressCheckout</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="EC/GetExpressCheckout">GetExpressCheckout</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="EC/DoExpressCheckout">DoExpressCheckout</a>
							</td>
							<td></td>
						</tr>

						<tr>
							<td align="left"><a href="EC/ExternalRememberMeOptOut">ExternalRememberMeOptOut</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="EC/ExecuteCheckoutOperations">ExecuteCheckoutOperations</a>
							</td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr />
			<tr />
			<tr />
			<tr>




				<td valign="top"><table align="left">
						<tr>
							<th>Reporting</th>
						</tr>
						<tr>
							<td align="left"><a href="Report/TransactionSearch">TransactionSearch</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Report/GetTransactionDetails">GetTransactionDetails</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Report/GetBalance">GetBalance</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Report/GetPalDetails">GetPalDetails</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="Report/AddressVerify">AddressVerify</a>
							</td>
							<td></td>
						</tr>
					</table>
				</td>

				<td valign="top"><table align="center">
						<tr>
							<th>DCC</th>
						</tr>
						<tr>
							<td align="left"><a href="DCC/DoDirectPayment">DoDirectPayment</a>
							</td>
							<td></td>
						</tr>
					</table>
				</td>
				<td valign="top"><table align="right">
						<tr>
							<th>MassPay</th>
						</tr>
						<tr>
							<td align="left"><a href="MassPay">MassPay</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td align="left"><a href="PermissionsMassPay">MassPay
									(using Permissions API)</a>
							</td>
							<td></td>
						</tr>
					</table>
				</td>

			</tr>
		</table>
	</center>
</body>
</html>