

.oChat-container {
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.oChat-container input, button, select, textarea {
    font-family: Arial,sans-serif;
}

.oChat-container a {
	text-decoration: none;
}

.oChat-container a:hover,
.oChat-container a:focus {
    text-decoration: underline;
}

.oChat-pseudo,
a.oChat-pseudo,
a.oChat-pseudo:hover,
a.oChat-pseudo:focus {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    cursor: pointer;
    text-decoration: none;
}

.oChat-container button {
  cursor: pointer;
  -webkit-appearance: button;
}

.oChat-container label,
.oChat-container button {
  cursor: pointer;
}


.oChat-container textarea {
  overflow: auto;
  vertical-align: top;
}

.oChat-container label,
.oChat-container input,
.oChat-container button,
.oChat-container textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}


.oChat-container label {
  display: block;
  margin-bottom: 5px;
}



.oChat-container select,
.oChat-container textarea,
.oChat-container input {
  height: 30px;
  padding: 4px 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  line-height: 10px;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.oChat-container textarea {
  line-height: 20px;
}


.oChat-container textarea,
.oChat-container input[type="text"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}


.oChat-container textarea:focus,
.oChat-container input[type="text"]:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}

.oChat-btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: repeat-x;
  *border: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
}



.oChat-btn:first-child {
  *margin-left: 0;
}

.oChat-btn:hover,
.oChat-btn:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.oChat-btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.oChat-btn.active,
.oChat-btn:active {
  outline: 0;
}

.oChat-btn.disabled,
.oChat-btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.oChat-container input {
	width: 100%;
}

.oChat-feedback textarea {
	width: 100%;
	resize: none;
}

.oChat-clear {
	clear: both;
}

.oChat-alert {
    border-radius: 4px;
    padding: 4px;
	margin-bottom: 5px;
	white-space: pre-wrap;
}

.oChat-container hr {
  margin: 0px;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.oChat-container select,
.oChat-container textarea,
.oChat-container input {
  color: #555555;
}

.oChat-container textarea,
.oChat-container input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}


.oChat-btn {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.oChat-btn:hover,
.oChat-btn:focus,
.oChat-btn:active,
.oChat-btn.active,
.oChat-btn.disabled,
.oChat-btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.oChat-btn:active,
.oChat-btn.active {
  background-color: #cccccc \9;
}


.oChat-btn:hover,
.oChat-btn:focus {
  color: #333333;
}

.oChat-btn:focus {
  outline: thin dotted #333;
}

.oChat-btn.active,
.oChat-btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.oChat-alert {
	color: #c09853;
	background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

.oChat-alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.oChat-hide {
	color: #AAAAAA;
}


/*
----------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
*/



.oChat-startPanel {
	position: fixed;
	z-index: 3001;
	padding: 20px;
	border-radius: 5px;
	font-size: 18px;
	padding: 7px 45px 10px;
	cursor: pointer;
	background-color: #FFFFFF;
	right: 20px;
    bottom: -4px;
}


.oChat-root {
    border-radius: 5px;
	min-height: 418px;
	width: 300px;
	z-index: 2000;
	top: 2px;
	right: 20px;
	position: fixed;
	padding: 14px 8px 17px;
	background-color: #FFFFFF;
	color: #333333;
}



.oChat-root-bottom {
	right: 20px;
    bottom: 5px;
	top: inherit;
}

.oChat-root-top {
	bottom: inherit;
	top: 2px;
	right: 20px;
}

.oChat-root-fixed {
	position: fixed;
}

.oChat-root-absolute {
	position: absolute;
}

.oChat-hide {
	cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 16px;
    position: absolute;
    right: 6px;
    top: 4px;
    width: 16px;
	z-index: 2;
}

.oChat-stateMsg {
	position: absolute;
	left: 26%;
	top: 30%;
}

.oChat-sendLoading,
.oChat-sendError
{
	position: absolute;
	bottom: 30px;
    left: 2%;
	text-align: right;
	width: 192px;
}

.oChat-content {
	/*margin-top: 26px;*/
}

.oChat-log {
	height: 296px;
    margin-bottom: 15px;
    margin-top: 10px;
    overflow-y: auto;
	padding-right: 20px;
}

textarea.oChat-msgText {
	height: 54px;
	min-height: 54px;
	resize: vertical;
	width: 100%;
	margin-bottom: 4px;
}

.oChat-msg {
	margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    position: relative;
}

.oChat-msgContent {
	white-space: pre-wrap;
    word-wrap: break-word;
	padding: 10px 0px;
}

.oChat-feedback-title {
	margin-bottom: 20px;
    margin-top: 5px;
	white-space: pre-wrap;
}

.oChat-feedbackDone {
	margin-top: 18px;
}

textarea.oChat-feedbackText {
	height: 222px;
}

.oChat-feedbackSend,
.oChat-msgSend {
	float: right;
}

.oChat-footer {
    font-size: 11px;
    text-align: center;
	position: absolute;
	left: 31%;
	bottom: 0px;
}


.oChat-user {
	font-size: 12px;
}


.oChat-userMsg {
	position: relative;
	border-radius: 5px;
	margin-left: 30px;
}
.oChat-userMsg:after,
.oChat-userMsg:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.oChat-userMsg:after {
	border-width: 9px;
	margin-top: -9px;
}
.oChat-userMsg:before {
	border-width: 10px;
	margin-top: -10px;
}


.oChat-operatorMsg {
	position: relative;
	border-radius: 5px;
	margin-left: 15px;
}
.oChat-operatorMsg:after,
.oChat-operatorMsg:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.oChat-operatorMsg:after {
	border-width: 9px;
	margin-top: -9px;
}
.oChat-operatorMsg:before {
	border-width: 10px;
	margin-top: -10px;
}

.oChat-welcomeToChat {
    margin: 10px 0px;
    padding: 16px 4px;
    text-align: center;
    white-space: pre-wrap;
}

.oChat-footer {
 	color: #999999;
}

.oChat-user {
	color: #5c5a5a;
}

.oChat-userMsg {
	background: #ffffff;
	border: 1px solid #cccccc;
}
.oChat-userMsg:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
}
.oChat-userMsg:before {
	border-color: rgba(0, 136, 204, 0);
	border-left-color: #cccccc;
}

.oChat-operatorMsg {
	background: #fbfbfb;
	border: 1px solid #cccccc;
}

.oChat-operatorMsg:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fbfbfb;
}
.oChat-operatorMsg:before {
	border-color: rgba(0, 136, 204, 0);
	border-right-color: #cccccc;
}
